{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JAYS NETWORK | Global Command</title>
    
    <link rel="icon" type="image/png" href="{% static 'core/img/favicon.png' %}">
    
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Orbitron:wght@400;700&family=Fira+Code:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link rel="stylesheet" href="{% static 'core/css/style.css' %}?v=2">
</head>
<body>

    <div class="global-map-bg"></div>
    <div class="grid-overlay"></div>
    <canvas id="network-canvas"></canvas>

    {% include 'core/includes/navbar.html' %}

    {% block content %}{% endblock %}

    <script src="{% static 'core/js/main.js' %}"></script>
</body>
</html>